@font-face {
  font-family: "PokemonGB";
  src: local("PokemonGB"), url("./fonts/PokemonGb-RAeo.ttf") format("truetype");
}
body {
  font-family: "PokemonGB";
}

.pokedexBox {
  flex-basis: 17%;
}

.pokemon {
  text-align: center;
  border: solid;
  border-style: double;
}

.pokedex {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

.pokemonContainer {
  display: flex;
  justify-content: center;
}

.pokemonDetails {
  text-align: center;
}
